
.bouton1 a{
    position:absolute;
    top:80%;
    left:50%;
    translate: -50% -50%;
    border:1px solid black;
    background:#FFEFD5;
    color : black;
 }

 .texth1{
    position:absolute;
    top:32%;
    left:50%;
    translate:-50% -50%;
    font-size:70px;
    text-shadow:0 0 0 black;

 }