<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>

</head>
<body>

<div>
    <h2 class="text-black">{{ name }}</h2>
    <p>{{ titre }}</p>
    <br>

    <h4 class="title"> FORMATION</h4>
    <p>{{ education }}</p>
    <br>

    <h4 class="title"> COMPETENCES</h4>
    <p>{{ com }}</p>
    <br>

    <h4 class="title"> EXPERIENCES</h4>
    <p>{{ experience }}</p>
    <br>

    <h4 class="title"> LANGUE</h4>
    <p>{{ langue }} </p>
    <br>

    <h4 class="title"> CENTRE D'INTERETS</h4>
    <p>{{ interet }} </p>
    <br>

    <h4 class="title"> CONTACT</h4>
    <p>{{ email }} <br> {{ phone }} <br> {{ address }}</p>
    <br>


    <small>dj@koCV {% now "Y-m-d" %}</small>
</div>
</body>
</html>