{% extends 'base.html' %}

{% block content %}

<br>
<h2 class="text-black">{{ name }}</h2>
<p>{{ titre }}</p>
<br>

<h4 class="title"> FORMATION</h4>
<p>{{ education }}</p>
<br>

<h4 class="title"> COMPETENCES</h4>
<p>{{ com }}</p>
<br>

<h4 class="title"> EXPERIENCES</h4>
<p>{{ experience }}</p>
<br>

<h4 class="title"> LANGUE</h4>
<p>{{ langue }} </p>
<br>

<h4 class="title"> INTERETS</h4>
<p>{{ interet }} </p>
<br>

<h4 class="title"> CONTACT</h4>
<p>{{ email }} <br> {{ phone }} <br> {{ address }}</p>
<br>

<nav class="navbar navbar-expand-lg">
    <small class="text-black">dj@koCV {% now "Y-m-d" %}</small>
</nav>

<div>
    <a href="download" class="btn btn-primary text-black">Next</a>
</div>
{% endblock %}